{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">
    <article class="post featured">
        <header class="major">
            <h2><a href="https://alexstemle.com/donate/">Donate Today!</a></h2>
            <p>Donate to Alex Stemle for School Board, District 4</p>
        </header>
        {{!-- put image here if he wants a back ground for donate--}}
        {{!--<a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>--}}
        <ul class="actions special">
            <li><a href="https://alexstemle.com/donate/#donate-to-the-alex-stemle-for-school-board-campaign-please" class="button large">Donate</a></li>
        </ul>
    </article>
    <section class="posts">
        <article>
            <header>
                <h2><a href="https://alexstemle.com/about/">Meet Alex</a></h2>
            </header>
            {{!-- put image here if he wants a back ground for donate--}}
            {{!--<a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>--}}
            <p>Alex Stemle backed by experience.</p>
            <ul class="actions special">
                <li><a href="https://alexstemle.com/about/" class="button">About Me</a></li>
            </ul>
        </article>
        <article>
            <header>
                <h2><a href="https://alexstemle.com/take-action/">Take Action</a></h2>
            </header>
            {{!-- put image here if he wants a back ground for donate--}}
            {{!--<a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>--}}
            <p>Show your support. Volunteer, yard sign, car window clings. Let's change Tallahassee together.</p>
            <ul class="actions special">
                <li><a href="https://alexstemle.com/take-action/" class="button">Join</a></li>
            </ul>
        </article>
    </section>
    {{!-- Featured Post --}}
    {{#is "home"}}
    {{#get "posts" filter="featured:true" limit="1" as |featured_post|}}
        {{#foreach featured_post}}
            <article class="post featured">
                <header class="major">
                    <span class="date">{{date format="MMM D, YYYY"}}</span>
                    <h2><a href="{{url}}">{{title}}</a></h2>
                    <p>{{excerpt words="44"}}</p>
                </header>
                {{#if feature_image}}
                <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
                {{/if}}
                <ul class="actions special">
                    <li><a href="{{url}}" class="button large">Full Story</a></li>
                </ul>
            </article>
        {{/foreach}}
    {{/get}}
    {{/is}}

    {{!-- Posts --}}
    <section class="posts">

        {{#foreach posts}}
        <article>
            <header>
                <span class="date">{{date format="MMM D, YYYY"}}</span>
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            {{#if feature_image}}
            <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <p>{{excerpt words="33"}}</p>
            <ul class="actions special">
                <li><a href="{{url}}" class="button">Full Story</a></li>
            </ul>
        </article>
        {{/foreach}}

    </section>

    {{!-- Pagination --}}
    {{!--{{pagination}}--}}

</main>